<div class="admin-elements-page">
  <!-- Start: Content-Wrapper-->
  <section id="content_wrapper">
    <!-- Start: Topbar-Dropdown-->

    <!-- Start: Topbar-->
    <header id="topbar" class="alt">
      <div class="topbar-left">
        <ol class="breadcrumb">

          <li class="crumb-icon"><a routerLink="/inicio"><span class="glyphicon glyphicon-home"></span></a></li>

          <li class="crumb-trail">Dashboard avisos</li>
        </ol>
      </div>

    </header>
    <!-- Begin: Content-->
    <section id="content" class="table-layout animated fadeIn">
      <!-- begin: .tray-center-->
      <div class="tray tray-center">
        <div class="mw1000 center-block">
          <!-- Begin: Content Header-->
          <div class="content-header">
            <h2> <b style="color:#004A8E;">Dashboard avisos</b>
            </h2>
            <p class="lead">Realiza los cambios y da click en guardar para que se muestren en el Dashboard Doka</p>
          </div>



          <!-- Begin: Admin Form-->
          <div class="admin-form">
            <div class="panel heading-border">

              <!-- Panel formulario-->
              <div class="panel-body bg-light">
                <form (ngSubmit)="crearItem()" (keydown.enter)="$event.preventDefault()" #itemForm="ngForm">
                  <div id="spy1" class="section-divider mb40"><span style="color:#004A8E;">Información general</span>
                  </div>
                  <!-- .section-divider-->
                  <!-- Basic Inputs-->
                  <div class="row">
                    
                    <div class="col-md-12">
                      <div class="section">
                        <b style="color: #004A8E;"> Mensaje</b>
                        <label class="field prepend-icon">
                          <input [(ngModel)]="item.mensaje" #mensaje="ngModel" type="text" id="mensaje" name="mensaje"
                            placeholder="No. Cliente" class="gui-input">
                          <b class="tooltip tip-right-top">
                            <em> Mensaje.</em>
                          </b>
                          <label for="tooltip1" class="field-icon"><i class="fa fa-flag"></i></label>
                        </label>

                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="section">
                        <button type="button" [disabled]="!itemForm.form.valid" class="btn btn-success"
                          (click)="crearItem()">Actualizar</button>



                      </div>
                    </div>



                  </div>
        




                </form>
              </div>


              
            </div>
          </div>
        </div>
      </div>
      <!-- begin: .tray-right-->

    </section>
  </section>
</div>





<!-- No hay permisos--
<section  [hidden]="empleadoActual.permisos.empleados" id="content_wrapper">



<header id="topbar" class="bg-white alt">
  <div class="topbar-left">
    <ol class="breadcrumb mt-10">
      <li class="crumb-active"><a routerLink="/inicio">Sistema Memphis</a></li>
    
    </ol>
  </div>

</header>

<div id="content" class="animated fadeIn">

  
  <div class="row">
    <div class="col-md-12">


      <hr class="mt20 mb30">
     
     
      <div class="">
        <div class="alert alert-danger alert-dismissable mb30">

          <h5 class="mt5">Error</h5>
          <h3 class="mt5">No tienes acceso a ésta sección</h3>
          <p>Ponte en contacto con el administrador.</p><br>
          <div class="element-groups-sm-custom"><a (click)="cancel()" class="btn btn-white">REGRESAR</a></div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</section>-->